*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

}

header{

background:#4a146d;
color:white;

}

.top-bar{

display:flex;
justify-content:space-between;
align-items:center;
padding:1rem;

}

#menu{

background:none;
border:none;
font-size:2rem;
color:white;
cursor:pointer;

}

.navigation{

display:none;
flex-direction:column;

}

.navigation.open{

display:flex;

}

.navigation a{

color:white;
text-decoration:none;
padding:1rem;
text-align:center;

}

.navigation a:hover{

background:#68308d;

}

main{

max-width:900px;
margin:auto;
padding:1rem;

}

h1{

text-align:center;
margin:1rem;

}

.gallery{

display:grid;
grid-template-columns:1fr;
gap:2rem;

}

figure{

text-align:center;

}

figure img{

width:100%;
max-width:350px;

}

footer{

background:#4a146d;
color:white;
text-align:center;
padding:1rem;

}

#lastModified{

color:yellow;

}